/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #000;
    background: #333;
    margin: 0;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
    padding-top: 3rem;
    display: block;
    margin: 0 auto;
}
header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  margin: 0;
}
nav ul li {
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}
.text {
  background-color: #fff;
  color: #000;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1em;
  line-height: normal;
  margin: 3rem;
  margin-top: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
.photo p {
  font-size: 1em;
  text-align: center;
}
#cougar {
  background-color: #FFD5AE;
}
#lion {
  background-color: #FFBD82;
}
#tiger {
  background-color: #B26219;
}
section {
  max-width: 100%;
  box-sizing: border-box;
  width: 600px;
}
h1 {
  color: #fff;
}
h2 {
  text-align: center;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
footer {
  background-color: #333;
  color: #fff;
  margin: 0;
}
footer p {
  background-color: #333;
  text-align: center;
  margin: 0;
  padding: 1rem;
}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
  }

#tiger a{
  color: #030303;
}

#tiger a:hover{
  color: #ffd863;
}
